$gray-000: #141414;
$gray-100: #353535;
$gray-200: #545454;
$gray-300: #878787;
$gray-400: #B2B2B2;
$gray-600: #CFCFCF;
$gray-700: #DBDBDB;
$bg-white: #FFFFFF;
$bg-gray: #EDEDED;
$bg-gray-light: #F7F7F7;
$border-gray: #C4C4C4;
$border-gray-dark: #C4C4C4;
$text-gray: #545454;
$text-gray-dark: #141414;
$text-blue: #0073AB;
$bg-blue-light: #E3F4FB;
$black-fade-15: rgba(#fff, 0.15);
$black-fade-30: rgba(#fff, 0.3);
